html {
  /* background-color: #e8ebe6; */
  background-color: rgb(237, 218, 225);
  font-family: sans-serif;
}

html.dark {
  background-color: #1a1a1a;
  color: #ffffff;
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 120ch;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}

/* 汉堡样式 */
.hamburger {
  padding-right: 20px;
  cursor: pointer;
}

.hamburger .line {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  background-color: #405feb;
}

.dark .hamburger .line {
  background-color: #7c9fff;
}

/* 导航样式 */

.nav-links {
  width: 100%;
  top: 5rem;
  left: 48px;
  background-color: #9c9c9c;
  display: none;
  margin: 0;
}

.dark .nav-links {
  background-color: #333333;
}

.nav-links a {
  display: block;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #4c4c4c;
  transition: background-color 0.3s ease;
  background-color: transparent;
}

.nav-links a:hover,
.nav-links a:focus {
  background-color: rgba(150, 150, 150, 0.3);
}

.dark .nav-links a:hover,
.dark .nav-links a:focus {
  background-color: rgba(255, 255, 255, 0.1);
}

.expanded {
  display: unset;
}

@media screen and (min-width: 636px) {
  .nav-links {
    margin-left: 5em;
    display: block;
    position: static;
    width: auto;
    background: none !important;
  }

  .nav-links a {
    display: inline-block;
    padding: 15px 20px;
    transition: background-color 0.3s ease;
    border-radius: 8px;
    background-color: transparent;
  }

  .hamburger {
    display: none;
  }

  .dark .nav-links a {
    color: #fff;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(192, 192, 192);
    padding: 0.5rem 0.8rem;
    position: relative;
    z-index: 99;
    transition: transform 0.5s linear;
  }

  .dark nav {
    background-color: #2a2a2a;
  }

  /* 固定导航栏 */
  .fixed-nav {
    top: 0;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0.8rem;
    background-color: rgb(192, 192, 192);
    z-index: 100;
    margin: 0 auto;
    width: 100%;
    max-width: 120ch;
    line-height: 1.5;
    transform: translateY(20%); /* 悬浮状态 */
  }

  .dark .fixed-nav {
    background-color: #2a2a2a;
  }

  nav:not(.fixed-nav) {
    transform: translateY(5%); /* 当导航栏不悬浮时，向上偏移其自身高度 */
  }
}
