.block {
  background-color: rgb(255, 255, 255);
  border-radius: 12px;
  padding: 16px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.dark .block {
  background-color: #2a2a2a;
  color: #ffffff;
}

.dark .block p {
  color: #ffffff;
}

.dark .block ul {
  color: #ffffff;
}

.dark .block li {
  color: #ffffff;
}

