---
import BaseLayout from '../layouts/BaseLayout.astro'
import '../styles/global.css'

const pageTitle = '文章'
---

<BaseLayout pageTitle={pageTitle}>
  <ul>
    <li><a href="/posts/221031/">入站黑板</a></li>
  </ul>
</BaseLayout>
