---
import Footer from '../components/Footer.astro'
import Navigation from '../components/Navigation.astro'
import '../styles/global.css'
---

<html lang="zh-cn">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>魔法球的站点</title>
  </head>

  <body>
    <Navigation />
    <h1>我的博客</h1>
    <ul>
      <li><a href="/posts/221031/">入站黑板</a></li>
    </ul>
    <Footer />
  </body>
</html>
