---
import "../styles/layout.css";
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "建站历史";
---
<BaseLayout>
    <div>
        <h1>{pageTitle}</h1>
        <p>这里记录了网站的曾经些许~</p>
    </div>
</BaseLayout>
