---
import BaseLayout from "../layouts/BaseLayout.astro";
import PostList from "../components/PostList.astro";
import DateTime from "../components/DateTime.jsx";
import Notice from "../components/Notice.jsx";
import "../styles/home.css";

const pageTitle = "魔法球的站点";
---

<BaseLayout>
  <Notice client:only/>
  <div class="maxblock">
    <!--left -->
    <div class="span-left">
      <a href="/about">点这里关于我</a>
    </div>

    <!-- above -->
    <div class="span-above">
      <DateTime  client:load/>
    </div>

    <!-- below -->
    <div class="span-below">
      <p>这里是其他内容</p>
    </div>

    <!-- center -->
    <div class="span-center">
      <p>Magical_ball's Blog</p>
    </div>

    <!-- right -->
    <div class="span-right">
      <h2>最近更新</h2>
      <PostList />
    </div>
  </div>
</BaseLayout>
