---
import Greeting from '../components/Greeting'
import BaseLayout from '../layouts/BaseLayout.astro'

const pageTitle = '魔法球的站点'
---

<BaseLayout pageTitle={pageTitle}>
  <h2>HEELO !</h2>
  <Greeting client:load messages={['Hello!', 'Hi~', 'Miao~', 'Wwww']} />
</BaseLayout>
