---
import BaseLayout from "../layouts/BaseLayout.astro";
import PostList from "../components/PostList.astro";
import DateTime from "../components/DateTime.jsx";
import Notice from "../components/Notice.jsx";
import Blackboard from "../components/Blackboard.astro";
import Socialme from "../components/Socialme.astro";
import HomeAbout from "../components/HomeAbout.astro";
import "../styles/home.css";

const pageTitle = "魔法球的站点";
---

<BaseLayout>
  <Notice client:only />
  <div class="maxblock">
    <!--left -->
    <div class="span-left">
      <HomeAbout />
    </div>

    <!-- above -->
    <div class="span-above">
      <div class="above-a">
        <DateTime client:load />
        <Blackboard />
      </div>
    </div>

    <!-- below -->
    <div class="span-below">
      <p>这里是其他内容</p>
      <Socialme />
    </div>

    <!-- center -->
    <div class="span-center">
      <p>Magical_ball's Blog</p>
    </div>

    <!-- right -->
    <div class="span-right">
      <h2>最近更新</h2>
      <PostList />
    </div>
  </div>
</BaseLayout>
