---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/home.css";

const pageTitle = "魔法球的站点";
---

<BaseLayout>
  <div class="maxblock">
    <!--left -->
    <div class="span-left">
      <h1>这是我</h1>
    </div>

    <!-- above -->
    <div class="span-above">
      <p>welcome</p>
    </div>

    <!-- below -->
    <div class="span-below">
      <p>这里是其他内容</p>
    </div>

    <!-- center -->
    <div class="span-center">
      <p>Magical_ball's Blog</p>
    </div>

    <!-- right -->
    <div class="span-right">
      <h2>最近更新</h2>
    </div>
  </div>
</BaseLayout>
