---
import BaseLayout from "../layouts/BaseLayout.astro";
import DateTime from "../components/DateTime.tsx";
// import Notice from "../components/Notice.tsx";
import PopularTags from "../components/PopularTags.astro";
import WelcomeCard from "../components/WelcomeCard.astro";
import HomeAbout from "../components/HomeAbout.astro";
import HomeCenter from "../components/HomeCenter.astro";
import Blewbox from "../components/Blewbox.astro";
import HomeRight from "../components/HomeRight.astro";
import "../styles/home.css";
---

<BaseLayout>
  <!-- <Notice client:only="preact" /> -->
  <div class="home-top-card">
    <WelcomeCard />
  </div>
  <div class="maxblock">
    <!--left -->
    <div class="span-left">
      <HomeAbout />
    </div>

    <!-- above -->
    <div class="span-above">
      <div class="above-a">
        <div class="date-time-wrapper">
          <DateTime client:visible />
        </div>
        <PopularTags />
      </div>
    </div>

    <!-- below -->
    <div class="span-below">
      <Blewbox />
    </div>

    <!-- center -->
    <div class="span-center">
      <HomeCenter />
    </div>

    <!-- right -->
    <div class="span-right">
      <HomeRight />
    </div>
  </div>
</BaseLayout>
