---
const { title, url, pubDate, style } = Astro.props;
import "../styles/bloglist.css";
import "../styles/layout.css";
---

<section class="blog-post">
  <div class="block" style={style}>
    <h2><a href={url}>{title}</a></h2>
    <p>{pubDate}</p>
  </div>
</section>
