---
import Backtop from '../components/Backtop.astro'
import Social from './Social.astro'
---

<style>
  footer {
    gap: 1rem;
    margin-top: 2rem;
  }

  .foot p {
    text-align: center;
    color: rgb(35, 35, 35);
    font-size: 0.8rem;
  }
</style>

<Backtop />
<footer class="foot">
  <p>Made by Magicalball</p>
  <p>
    Learn more about my projects on <Social
      platform="github"
      username="Magicalball"
    /> !
  </p>
</footer>
