---
import Backtop from "../components/Backtop.astro";
import Social from "./Social.astro";
---

<style>
  footer {
    gap: 1rem;
    margin-top: 2rem;
  }

  .foot p {
    text-align: center;
    color: rgb(80, 79, 79);
    font-size: 0.8rem;
  }

  a {
    text-decoration: none;
    color: rgb(126, 126, 126);
  }

  a:hover {
    color: rgb(0, 0, 0);
  }
</style>

<Backtop />
<footer class="foot">
  <p>
    Made by Magicalball | <a href="https://beian.miit.gov.cn/" target="_blank"
      >辽ICP备2024038289号</a>
  </p>
  <p>
    Learn more about my projects on <Social
      platform="github"
      username="Magicalball"
      store="astro-blog-magical"
    /> !
  </p>
</footer>
