---
import Hamburger from './Hamburger.astro'
import Navigation from './Navigation.astro'
import ThemIcon from './ThemIcon.astro'
---

<header>
  <nav>
    <Hamburger />
    <Navigation />
    <ThemIcon />
  </nav>
</header>
