---
import Hamburger from './Hamburger.astro'
import Navigation from './Navigation.astro'
import ThemIcon from './ThemIcon.astro'
---

<header>
  <nav id="navbar">
    <Hamburger />
    <Navigation />
    <ThemIcon />
  </nav>
</header>

<script>
  const scrollThreshold = 75
  window.addEventListener('scroll', () => {
    var navbar = document.getElementById('navbar')
    if (window.scrollY > scrollThreshold) {
      navbar?.classList.add('fixed-nav')
    } else {
      navbar?.classList.remove('fixed-nav')
    }
  })
</script>
