---
const { platform, username, store } = Astro.props;
---

<a href={`https://www.${platform}.com/${username}/${store}`} target="_blank">{platform}</a>

<style>
  a {
    padding: 0.3rem 0.2rem;
    color: rgb(103, 103, 103);
    text-decoration: none;
  }

  a:hover {
    color: rgb(0, 0, 0);
  }

  :global(.dark) a {
    color: rgb(200, 200, 200);
  }

  :global(.dark) a:hover {
    color: rgb(255, 255, 255);
  }
</style>
